<div class="link1">
    <span>© 2018 Faculdade de Engenharia da Universidade do Porto - Engenharia de Sistemas de Informação (ESIN)</span>
</div>
<div class="link2">
    <span class="small">Grupo 18: Helena Miranda | Leandro Gabriel</span>
</div>