<div class="position-absolute bottom-0 bg-secondary bg-opacity-50 container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-2">
        <div class="col-md-8 d-flex align-items-center">
            <span class="small text-body-secondary">&copy; 2018 Faculdade de Engenharia da Universidade do Porto - Engenharia de Sistemas de Informação (ESIN)</span>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-end">
            <span class="small text-body-secondary">Grupo 18: Helena Miranda | Leandro Gabriel</span>
        </div>
    </footer>
</div>