@page "/Interventions/{Id:int?}"

@using ESIN.Clinic.Domain.Abstractions
@inject IInterventionService _interventionService

<h3>InterventionDetails</h3>

<p>Intervention <strong>@Id</strong></p>

@if (item != null)
{
    <ul>
        <li><strong>EquipmentName:</strong>&nbsp;@item.Equipment.Name</li>
        <li><strong>InterventionType:</strong>&nbsp;@item.InterventionType</li>
        <li><strong>ReportDate:</strong>&nbsp;@item.ReportDate</li>
        <li><strong>EvaluationDate:</strong>&nbsp;@item.EvaluationDate</li>
        <li><strong>EmployeeName:</strong>&nbsp;@item.Employee.Name</li>
        <li><strong>Observations:</strong>&nbsp;@item.Observations</li>
        <li><strong>StartDate:</strong>&nbsp;@item.StartDate</li>
        <li><strong>EndDate:</strong>&nbsp;@item.EndDate</li>
        <li><strong>InvoiceValue:</strong>&nbsp;@item.InvoiceValue</li>
    </ul>
}
